/* Les éléments simples.  
Des règles de styles générales.
*/

header {
    color : #b19090;
}

h1 {
    padding: 1rem 0 .1rem 0;
    margin: 0;
}

h2 {
    padding: 0 0 20px 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

@keyframes animMot {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.animMot {
    animation: animMot 1s;
    margin: 10px;
}