nav {
    background-color: gray;
    flex: 1 0 100%;
    display: flex;
    transition: transform 1s;
    order: 1;

    ul {
        display: flex;
        flex-direction: column;
        //flex: 1 0 100%;
        text-decoration: none;
        justify-content: center;
        
        text-align: center;
    }

    li {
        width: 100%;
        transition: transform 1s, background-color 2s ;
    }

    li:hover {
        background-color: white;
        transform: scale(1);
        cursor: pointer;
    }
}









// ---------------------------------------------------------------- 
@media screen and (min-width:768px) {

    nav{
        flex: 0 0 100%;
		order:0;
        justify-content: space-between;
        ul{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
