nav {
    background-color: gray;
    flex: 1 0 100%;
    display: flex;
    transition: transform 1s;
    order: 1;

    ul {
        display: flex;
        flex-direction: column;
        //flex: 1 0 100%;
        text-decoration: none;
        justify-content: center;
        
        text-align: center;
    }

    li {
        width: 100%;
        transition: transform 1s, background-color 2s ;
    }

    li:hover {
        background-color: white;
        transform: scale(1);
        cursor: pointer;
    }
}

.boutonBurger {
    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
    height: 48px;
    width: 48px;
    margin: 1%;
    display: inline-block;
    cursor: pointer;

    transition: transform 1s;
    align-self: flex-end;
} 

#burger:checked~ #contenu > main {

    transform: translateX(-100%);
}

#burger:checked~ #contenu > nav {
    transform: translateX(-100%);
}

#burger:checked~.boutonBurger {
    transform: rotate(90deg);
}

#burger {
    display: none;
}

// ---------------------------------------------------------------- 
@media screen and (min-width:768px) {

    .boutonBurger {
       display: none;
    }

    nav{
        flex: 0 0 100%;
		order:0;
        justify-content: space-between;
        ul{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
