#pied-page {
    height: 25vh;
    padding-bottom: 30px;
    background-color: lighten(#141414, 20%);

    .credits {
        @include flex(column, center, center);
        background-color: #474747;
        color: #f1c40f;
    }

    section {
        @include flex(column, space-around, center);
        padding-top: 3rem;
        background-color: lighten(#141414, 20%);
        color: white;
    }

    ul {
        width : 50%;
        padding : 10px;
        list-style-type: none;
        margin:0;
        padding: 10px 0 10px 0;
        flex :1;
        text-align : center;
        @include border(3px, solid, lighten($couleur_rouge, 17%));

        li {
           padding : 3px;
        }
    }
}

@media screen and (min-width: 780px) {
    #pied-page {
        section{
            @include flex(row, space-around, center);
            flex-wrap: wrap;
        }

        ul {
            flex : 1 1 40%; // pour un wrap sur 2 colonnes
            text-align : center;
        }
    }
}

@media screen and (min-width: 1024px) {
    #pied-page {
        section {
            @include flex(row, space-around, "");
            flex-wrap: nowrap;
        }

        ul {
            flex : 1 1 25%; // on a plus de wrap et 4 colonnes
        }
    }
}